/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
  font-weight: 400;
  font-family: "Nunito Sans", san-serif;
}
/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}
/* 3. selected tab*/
.section-nav li.active > a {
  color: #000000;
  font-weight: 700;
}
/* Sidebar Navigation */
.section-nav {
  text-align: right;
  font-size: 14px;
}
/* non-selected tab */
.section-nav a {
  text-decoration: none;
  line-height: 25px;
  display: block;
  padding: 8px;
  color: #545454;
  font-weight: 400;
  transition: all 20ms ease-in-out; /* This small transition makes setting
  of the active state smooth */
}
/* hover over tab */
.section-nav a:hover,
.section-nav a:focus {
  color: #000000;
  background-color: #F8F4F0;
}

/** Poor man's reset **/
* {
  box-sizing: border-box;
}

html, body {
  background: #FFFFFF;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-right: 1rem;
}

h1 {
  font-weight: 300;
  font-weight: 35.5px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

#cover-image {
  display: block;
  width: 500px;
  height: 350px;
}


/** page layout **/
main {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 60px;
  max-width: 100em;
  width: 90%;
  margin-left: 30px;
}

/** enlarge the sections for this demo, so that we have a long scrollable page **/
section {
  padding-bottom: 20rem;
}
